<div id="confirmed" class="pages">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">The email <%- email %> has already been confirmed!</h1>
        </div>
    </div>
</div>

<script>
    window.setTimeout(function() {
        window.location.href = "/";
    }, 3000);
</script>