<nav id="mm-menu" class="mm-menu">

    <h1 class="mm-menu__title text-uppercase">Login</h1>

    <div class="mm-menu__address signinField">
        <form action="/login" class="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="password">
            </div>
            <form-group><button class="btn btn-primary btn-block">Login</button></form-group>
        </form>

        <h6 class="text-uppercase text-center">- or -</h6>

        <button class="btn btn-success btn-block register">Register</button>
    </div>

    <div class="mm-menu__address registerField" style="display: none;">
        <form class="form registerForm">
            <div class="form-group">
                <input type="text" name="Username" class="form-control" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input type="password" name="repassword" class="form-control" placeholder="Repeat Password" required>
            </div>
            <div class="form-group">
                <input type="text" name="rsiHandle" class="form-control" placeholder="RSI Handle">
            </div>
            <div class="form-group"><button class="btn btn-primary btn-block registerButton">Register</button></div>
            <div class="form-group form-error" style="display: none;">
                <p>Test</p>
            </div>
        </form>
    </div>

    <div class="mm-menu__address">
        <h6 class="text-uppercase">Questions?</h6>
        <p><a href="mailto:support@solarmada.com">support@solarmada.com</a></p>

    </div>
    <!-- / mm-menu__address-->

    <div class="mm-menu__address">
        <h6 class="text-uppercase">RSI Page</h6>
        <a href="https://robertsspaceindustries.com/orgs/SOLARMADA">Sol Armada RSI</a>
        <!-- <ul class="mm-menu__list">
            <li>+123 456 789</li>
            <li>info@carna.com</li>
        </ul> -->
    </div>
    <!-- / mm-menu__address-->

    <div class="mm-menu__address">
        <h6 class="text-uppercase">Sol Armada Social</h6>

        <ul class="mm-menu__social">
            <li><a href="https://www.facebook.com/solarmadacorp/"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="http://steamcommunity.com/groups/SolArmada"><i class="fa fa-steam" aria-hidden="true"></i></a>
            </li>
            <li><a href="http://discord.gg/0Vr0BMdhh6uB4isw"><i class="icon-discord-logo-white" aria-hidden="true"></i></a>
            </li>

        </ul>
        <!-- / mm-menu__social -->

    </div>

</nav>
<!-- /nav -->
