<nav id="mm-menu" class="mm-menu">

    <h1 class="mm-menu__title text-uppercase">info</h1>

    <div class="mm-menu__address">
        <h6 class="text-uppercase">Questions?</h6>
        <p><a href="mailto:support@solarmada.com">support@solarmada.com</a></p>

    </div>
    <!-- / mm-menu__address-->

    <div class="mm-menu__address">
        <h6 class="text-uppercase">RSI Page</h6>
        <a href="https://robertsspaceindustries.com/orgs/SOLARMADA">Sol Armada RSI</a>
        <!-- <ul class="mm-menu__list">
            <li>+123 456 789</li>
            <li>info@carna.com</li>
        </ul> -->
    </div>
    <!-- / mm-menu__address-->

    <div class="mm-menu__address">
        <h6 class="text-uppercase">Sol Armada Social</h6>

        <ul class="mm-menu__social">
            <li><a href="https://www.facebook.com/solarmadacorp/"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="http://steamcommunity.com/groups/SolArmada"><i class="fa fa-steam" aria-hidden="true"></i></a>
            </li>
            <li><a href="http://discord.gg/0Vr0BMdhh6uB4isw"><i class="icon-discord-logo-white" aria-hidden="true"></i></a>
            </li>

        </ul>
        <!-- / mm-menu__social -->

    </div>

</nav>
<!-- /nav -->
